<StackLayout margin="10" borderRadius="10" backgroundColor="#dcdcdc">
    <StackLayout orientation="horizontal">
        <Label [text]="plate.title" class="item-name"></Label>
    </StackLayout>
    <Image [src]="plate.picture" width="90%"></Image>
    <StackLayout>
        <Label [text]="plate.description" class="item-desc" textWrap="true"></Label>
        <FlexboxLayout>
            <Label text="$ xx" class="item-price" flexGrow="1"></Label>
            <Button [text]="buttonText"></Button>
        </FlexboxLayout>
    </StackLayout>
</StackLayout>
